
    <h1>
       
        About alpha blog
        
        
    </h1>
    
    <p1>Alpha blog is an under construction project with Udemy.</p1>
    <br>
    
    <%= link_to 'Click here to go to homepage', pages_home_path %>
    
    
   
