
    
    <h1>
        Welcome to Alpha Blog
        
        
        
    </h1>
    
    <%= link_to "Alpha Blog", articles_path %> | <%= link_to 'Click here to read about my blog', pages_about_path %>
    
    
   
    
    
    
    